body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #495057;
  font-size: 24px;
  cursor: pointer;
  background-color: #e9ecef;
  color: #495057;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #ced4da;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.status {
  font-size: 18px;
  margin-bottom: 10px;
  color: #495057;
}

.reset-button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reset-button:hover {
  background-color: #0056b3;
}

.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  color: #495057;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(26px);
}
